* {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  text-align: center;
  overflow-y: auto;
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(177, 163, 87, 1);
}

ul.topnav li {
  display: inline-block;
  min-width: 100px;
  font-family: Futura-Normal;
  font-size: 1.2em;
  text-transform: uppercase;
}
ul.topnav li a {
  text-decoration: none;

}

p {
  font-family: Arial;
}
h1 {
  text-align: center;
}
.section {
  width:500px;

}
